body {
    font-family: 'Work Sans', sans-serif;
}
#title {
    color:hsl(292, 42%, 14%);
    font-weight: 700;
    align-items: center;
    font-size:2rem;
}
.title-row {
    display:flex;
    gap:0.75rem;
    position:sticky;
    
}

.title-icon {
    /* width:50px; */
    /* height: 50px; */
    margin-left:2px;
    height:1.5rem;
}

.container{
    background-color: hsl(0, 70%, 100%);
    display:flex;
    flex-direction:column;
    text-align:center;
    margin:0 auto;
    padding:0.75rem;
    max-width:600px;
    
}


.background {
    height:600px;
    max-width: 900px;
    background:linear-gradient(to bottom, hsl(292, 42%, 14%) 30%, hsl(0, 50%, 100%) 30%);
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 90px auto;
    



}

.question {
    color: hsl(292, 39%, 26%);
    font-weight:600;
    font-size:1rem;
}

.answer {
    font-weight: 400;
    font-size:0.95rem;
    color: hsl(292, 39%, 26%);
    

}
.answer-row {
    max-height: 0;
    overflow:hidden;
    margin:0;
    /* display: none; */
    text-align: left;
    opacity: 0;
    transition: max-height 0.3s  lineargi, opacity 0.3s lineargi, margin 0.3s lineargi;
    color:#555;
}

.answer-row.show { 
    max-height: 500px;
    opacity:1;
    margin: 10px 0;
}

.question-row {
    display:flex;
    justify-content:space-between;
    align-items:center;
    cursor:pointer;
    padding: 10px 10px;
    border: 1px solid rgb(240,240,240);
    border-radius: 5px;
    margin-top:10px

}

.symbol {
    font-size:20px;
    font-weight:bold;
    margin-left:10px;
    color:hsl(292, 89%, 47%)
}

